//buttons
button.btn-jac-default
    background-color: $color-orange
    border-color: $color-orange
    &:hover
        background-color: $color-orange-light
        border-color: $color-orange-light

button.btn
    border-radius: 0