<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title></title>
      <!-- CSS -->
      <link href="../css/main.min.css" rel="stylesheet" type="text/css" />
      <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="../css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
      <link href="../css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="#">
                <img src="https://images.jacotei.com.br/imgs/banners/banner_premium/banner2019/Premium/jacotei-fullbanner-saldao.jpg" class="img-fluid d-block w-100" alt="fullbanner-loja">              
              </a>  
            </div>
            
            <div class="carousel-item">
              <a href="#">
                <img src="https://images.jacotei.com.br/imgs/banners/banner_premium/banner2019/Premium/Premium-voltaasaulas2.jpg" class="img-fluid d-block w-100" alt="fullbanner-loja">
              </a>
            </div>
          </div>
          
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </body>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.min.js" crossorigin="anonymous"></script>

</html>